* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    

}

/********************L'entête et mon logo*************************/


header {
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: black;
    padding: 10px 0; 
}


.logo a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    padding: 0 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
    }
    .logo span {
    color: rgb(238, 58, 11);
    font-weight: bold;
    font-size: 2rem;
}



header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    margin-right: 20px; 
}

header nav ul li {
    margin-left: 20px; 
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    font-weight: 500;
}

header nav ul li a:hover {
    background: linear-gradient(#696484, #8788ba);
    color: #fff;
}

/**************************** Footer**************************/
footer {
    background-color: #222;
    color: #fff;
    padding: 50px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contactez-moi,
.liens-pour-me-joindre {
    flex-basis: 45%;
}

.contactez-moih3,
.liens-pour-me-joindre h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.contactez-moi ul,
.liens-pour-me-joindre ul {
    list-style: none;
    padding: 0;
}

.contactez-moi ul li,
.liens-pour-me-joindre ul li {
    margin-bottom: 10px;
}

.liens-pour-me-joindre a {
    color: #fff;
    text-decoration: none;
}

.liens-pour-me-joindre a:hover {
    text-decoration: underline;
}



/************************Presentation******************************/

#presentation {
   
    background-color: #f2f2f2;
    padding: 50px 0;
    margin-top: 100px;
    border-radius: 20px;
}

.container {
   
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    margin-right: 30px;
}

.photo img {
    width: 200px;
    border-radius: 50%;
}

.info h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.info p {
    font-size: 16px;
    line-height: 1.6;
}


.info a {
    display: inline-block;
    background :linear-gradient(#696484, #8788ba);;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.info a:hover {
    
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}



/************************** mes logos**********************/

#reseaux-sociaux {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;
    margin-top: 50px;
  }
  
  .icones-reseaux-sociaux {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .icones-reseaux-sociaux li {
    margin: 0 10px;
  }
  
  .icones-reseaux-sociaux li a {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .icones-reseaux-sociaux li a:hover {
    transform: scale(1.1);
  }
  
  .icones-reseaux-sociaux li a img {
    width: 100%;
    height: 100%;
   
}

/************************ Ma page contactez moi ************************/


#contact {
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 50px 0;
    border-radius: 20px;
    width: 900px;
}

#contact .container {
    max-width: 800px;
    margin: 0 auto;
}

#contact h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact .form-group {
    margin-bottom: 20px;
}

#contact .form-group label {
    font-weight: bold;
}

#contact .form-group input,
#contact .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact button {
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    background: linear-gradient(#696484, #8788ba);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
}

#contact button:hover {
    background: linear-gradient(#8788ba, #696484);
    transform: scale(1.1);
}



/************************Ma page a propos **************************/


/* Stylisation de la section À Propos */
#about {
    background-color: #f2f2f2;
    padding: 50px 0;
    border-radius: 20px;
    margin-top: 50px;
}

#about .container {
    max-width: 800px;
    margin: 0 auto;
}

#about h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .profile {
    margin-right: 30px;
}

#about .profile img {
    width: 200px;
    border-radius: 50%;
}

#about .description {
    flex: 1;
}

#about .description p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}


